html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  border: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

.hidden-element {
  opacity: 0;
  pointer-events: none; 
  transition: opacity 0.2s ease-in-out;
}

@media (max-width: 640px) {
  main {
    scroll-snap-type: none; 
  }

  main > div {
    scroll-snap-align: none; 
  }
}