---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import LandingFooter from "../components/LandingFooter.astro";
import SectionPageCiberataques from "../components/SectionPageCiberataques.astro";
import PagesComponents from "../components/PagesComponents.astro";
import { attacksInfo } from "../data/data.js"; 
---

<Layout title="TechLincX | Ataques Al Dominio">
  
  <!-- Header -->
  <LandingHeader />

  <!-- Sección de "Daño Informático" -->
  <main class="snap-y snap-mandatory relative w-full h-auto overflow-auto">
    <SectionPageCiberataques />
    <div class="snap-center">
      <PagesComponents
        color="white"
        title="Daño Informático"
        textBlocks={attacksInfo}
      />
    </div>
  </main>

  <!-- Footer -->
  <LandingFooter />
</Layout>