---
import "../css/style.css";
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import LandingFooter from "../components/LandingFooter.astro";
import SectionPageContratos from "../components/SectionPageContratos.astro";
import PagesComponents from "../components/PagesComponents.astro";
import { contratsInfo } from "../data/data.js";
---

<Layout title="TechLincX | Contratos Informaticos">
  <!-- Header -->
  <LandingHeader />

  <!-- Sección de "Daño Informático" -->
  <main class="snap-y snap-mandatory relative w-full h-auto overflow-auto">
    <SectionPageContratos />
    <div class="snap-center">
      <PagesComponents
        color="white"
        title="Daño Informático"
        textBlocks={contratsInfo}
      />
    </div>
  </main>

  <!-- Footer -->
  <LandingFooter />
</Layout>