---
import "../css/style.css";
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import LandingFooter from "../components/LandingFooter.astro";
import SectionPageDocumentos from "../components/SectionPageDocumentos.astro";
import PagesComponents from "../components/PagesComponents.astro";
import { docsInfo } from "../data/data.js";

---

<Layout title="TechLincX | Documentos Electronicos">
  <!-- Header -->
  <LandingHeader />

  <!-- Sección de "Daño Informático" -->
  <main class="snap-y snap-mandatory relative w-full h-auto overflow-auto">
    <SectionPageDocumentos />
    <div class="snap-center">
      <PagesComponents
        color="white"
        title="Daño Informático"
        textBlocks={docsInfo}
      />
    </div>
  </main>

  <!-- Footer -->
  <LandingFooter />
</Layout>