---
import "../css/style.css"
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import SectionAtaques from "../components/SectionAtaques.astro";
import SectionDocumentos from "../components/SectionDocumentos.astro";
import SectionDesarrollo from "../components/SectionDesarrollo.astro"
import SectionCyberAttack from "../components/SectionCyberAttack.astro";
import LandingFooter from "../components/LandingFooter.astro";

---

<Layout>
  <!-- Header -->
  <LandingHeader />

  <!-- Slider -->
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="snap-center">
      <SectionAtaques />
    </div>
    <div class="snap-center">
      <SectionDocumentos />
    </div>
    <div class="snap-center">
      <SectionDesarrollo />
    </div>
    <div class="snap-center">
      <SectionCyberAttack />
    </div>
    <div class="snap-center">
      <LandingFooter /> 
    </div>
  </main>
</Layout>