---
// Props
const {
  color = "white",
  textBlocks = [],
  id = "seccion-general",
} = Astro.props;
---

<section
  id={id}
  class="w-full landing-section bg-black h-auto text-left py-16 px-10 flex flex-col"
  data-header-color={color}
>
  <!-- Header -->
  <header class="text-left mb-8"></header>

  <!-- Contenido de texto -->
  <div class="text-[#c0c4d5] sm:text-sm lg:text-lg border-none">
    <!-- Iterar sobre los bloques de texto usando un ciclo for tradicional -->
    {
      textBlocks && textBlocks.length > 0 && (
        <>
          {(() => {
            const result = [];
            for (let i = 0; i < textBlocks.length; i++) {
              const block = textBlocks[i];
              result.push(
                <div class="mb-6">
                  {block.title && (
                    <h2 class="sm:text-xl lg:text-2xl font-semibold mb-4">{block.title}</h2>
                  )}
                  <p>{block.text}</p>
                </div>
              );
            }
            return result;
          })()}
        </>
      )
    }
  </div>
</section>