---
import LinkButton from "./LinkButton.astro";

// Props
const { text, title, imageSrc, showButton = true } = Astro.props;  // showButton por defecto es true
---

<section
  class="grid w-full landing-section bg-black h-screen text-center overflow-hidden relative top-0 bottom-0"
  style="grid-template-columns: 1fr 1fr;"
>
  <!-- Main -->
  <main class="bg-black w-full h-full py-20 font-bold text-xl flex flex-col items-start justify-center gap-6 p-10">
    <div slot="content" class="flex flex-col items-start justify-start gap-6 text-left">
      <h1 class="text-[#c0c4d5] font-bold text-4xl">{title}</h1> <!-- Solo el título de la prop -->

      <p class="text-[#c0c4d5] font-medium whitespace-pre-line">{text}</p>
      
      <!-- Mostrar el botón solo si showButton es true -->
      {showButton && <LinkButton />}
    </div>
  </main>

  <!-- Aside -->
  <aside class="bg-black w-full h-full flex justify-center items-center">
    <div class="flex justify-center items-center px-6">
      <img
        src={imageSrc}
        alt="Imagen del aside"
        class="max-w-full max-h-full object-contain rounded-lg"
      />
    </div>
  </aside>
</section>
