html, body {
  height: 100%; 
  margin: 0;     
  overflow-y: auto;  
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; 
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

main {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

main::-webkit-scrollbar {
  display: none; 
}