---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="h-screen w-screen text-white flex justify-center items-center overflow-hidden">
    <!-- Contenedor con la imagen de fondo y el filtro de brillo -->
    <div class="h-full w-full bg-[url('/wallpaper.avif')] bg-cover bg-center bg-norepeat filter brightness-25 absolute z-0"></div>
    
    <!-- Contenido que no se ve afectado por el filtro -->
    <main class="h-full w-full flex flex-col justify-center items-center text-center px-4 z-10 relative">
      <slot />
    </main>
  </body>

  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
  </style>
</html>